In [ ]:
#Copy-and-paste the code below to use as "set-up" when your optimization model uses Pyomo. 
#Uncomment the appropriate solver that you need.
#for reference, see https://colab.research.google.com/drive/1yGk8RB5NXrcx9f1Tb-oCiWzbxh61hZLI?usp=sharing

#installing and importing pyomo
!pip install -q pyomo
from pyomo.environ import *

###installing and importing specific solvers (uncomment the one(s) you need)
###glpk
!apt-get install -y -qq glpk-utils
###cbc
#!apt-get install -y -qq coinor-cbc
###ipopt
#!wget -N -q "https://ampl.com/dl/open/ipopt/ipopt-linux64.zip"
#!unzip -o -q ipopt-linux64
###bonmin
#!wget -N -q "https://ampl.com/dl/open/bonmin/bonmin-linux64.zip"
#!unzip -o -q bonmin-linux64
###couenne
#!wget -N -q "https://ampl.com/dl/open/couenne/couenne-linux64.zip"
#!unzip -o -q couenne-linux64
###geocode
#!wget -N -q "https://ampl.com/dl/open/gecode/gecode-linux64.zip"
#!unzip -o -q gecode-linux64

#Using the solvers:
#SolverFactory('glpk', executable='/usr/bin/glpsol')
#SolverFactory('cbc', executable='/usr/bin/cbc')
#SolverFactory('ipopt', executable='/content/ipopt')
#SolverFactory('bonmin', executable='/content/bonmin')
#SolverFactory('couenne', executable='/content/couenne')
#SolverFactory('gecode', executable='/content/gecode')

In [ ]:
import pandas as pd

In [ ]:
#reading orders data
order_unit_cost = pd.read_excel('Prescriptive Final Model.xlsx', sheet_name='Orders_Plant_Unit_Cost') 
order_unit_cost.head()

,Orders,PLANT01,PLANT02,PLANT03,PLANT04,PLANT05,PLANT06,PLANT07,PLANT08,PLANT09,PLANT10
0,1000001,561,646,640,655,659,512,582,530,698,561
1,1000002,626,645,595,526,589,559,556,541,548,595
2,1000003,512,531,563,595,523,682,603,666,542,568
3,1000004,622,504,659,594,529,553,506,646,564,601
4,1000005,530,654,559,519,676,625,693,683,505,627

In [ ]:
#reading units data
order_units = pd.read_excel('Prescriptive Final Model.xlsx', sheet_name='Order_Product_Quantity') 
order_units.head()

    Orders  ProductID  Units
0  1000001          8     40
1  1000002          5     70
2  1000003          3     50
3  1000004          8     50
4  1000005          8     40

In [ ]:
#reading warehouse operating costs data
warehouse_data = pd.read_excel('Prescriptive Final Model.xlsx', sheet_name='Warehouse_Data') 
warehouse_data.head()

       WID  operating_cost  min_qty  max_qty
0  PLANT01            5382     1000    12000
1  PLANT02            5237     1000     9000
2  PLANT03            5618     1000    10500
3  PLANT04            5225     1000     8500
4  PLANT05            5537     1000     9000

In [ ]:
#reading shipping cost per unit
order_freight_costs = pd.read_excel('Prescriptive Final Model.xlsx', sheet_name='Order_Plant_Unit_Freight_Rate') 
order_freight_costs.head()

,Orders,PLANT01,PLANT02,PLANT03,PLANT04,PLANT05,PLANT06,PLANT07,PLANT08,PLANT09,PLANT10
0,1000001,69,99,52,131,85,132,70,119,59,128
1,1000002,104,68,113,72,131,60,78,122,111,90
2,1000003,52,86,143,101,87,88,106,51,87,150
3,1000004,98,59,58,100,102,138,112,129,109,120
4,1000005,60,135,95,131,93,101,102,143,55,145

In [ ]:
#list of orders
orders = order_unit_cost.loc[:,'Orders'].tolist()
orders

In [ ]:
#list of warehouses
warehouses = warehouse_data.loc[:,'WID'].tolist()
warehouses

In [ ]:
#converting manufacturing cost per unit to a list of lists
unit_costs = order_unit_cost.loc[:, 'PLANT01':'PLANT10'].values.tolist()
unit_costs

In [ ]:
#converting fixed cost data to a list
operating_costs = warehouse_data.loc[:, 'operating_cost'].values.tolist()
operating_costs

[5382, 5237, 5618, 5225, 5537, 5005, 5230, 5179, 5820, 5850]

In [ ]:
#converting unit frieght cost to a list of lists
freight_costs = order_freight_costs.loc[:, 'PLANT01':'PLANT10'].values.tolist()
freight_costs

In [ ]:
#converting units ordered data to a list
unit_demands = order_units.loc[:, 'Units'].values.tolist()
unit_demands

In [ ]:
#converting min capacities data to a list
min_capacity = warehouse_data.loc[:, 'min_qty'].values.tolist()
min_capacity

[1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000]

In [ ]:
#converting max capacities data to a list
max_capacity = warehouse_data.loc[:, 'max_qty'].values.tolist()
max_capacity

[12000, 9000, 10500, 8500, 9000, 9500, 9500, 10000, 11000, 8500]

In [ ]:
#input number of orders and warehouses
num_orders = 1000 #indexed by i
num_warehouses = 10 #indexed by j

#define the optimization model
model = ConcreteModel()

#DVs
model.x = Var(range(num_warehouses), domain = Binary)
model.y = Var(range(num_orders), range(num_warehouses), domain = NonNegativeIntegers)

#Objective function
manufacturing_cost = sum(model.y[i,j]*unit_costs[i][j] for i in range(num_orders) for j in range(num_warehouses))
shipping_cost = sum(model.y[i,j]*freight_costs[i][j] for i in range(num_orders) for j in range(num_warehouses))
operating_cost = sum(model.x[i]*operating_costs[i] for i in range(num_warehouses))
total_cost = manufacturing_cost + shipping_cost + operating_cost
model.Objective = Objective(expr = total_cost, sense = minimize)

#Constraints

#to fullfill the demand, supply>= demand
model.supplydemand = ConstraintList()
for i in range(num_orders):
  model.supplydemand.add(sum(model.y[i,j] for j in range(num_warehouses)) >= unit_demands[i])

#demand per warehouse<= maximum capacity of that warehouse
model.maxsupplycapacity = ConstraintList()
for i in range(num_warehouses):
  model.maxsupplycapacity.add(sum(model.y[j,i] for j in range(num_orders)) <= model.x[i]*max_capacity[i])

#demand per warehouse>= minimum capacity of that warehouse
model.minsupplycapacity = ConstraintList()
for i in range(num_warehouses):
  model.minsupplycapacity.add(sum(model.y[j,i] for j in range(num_orders)) >= model.x[i]*min_capacity[i])

model.pprint()

In [ ]:
#solve the model
opt = SolverFactory('glpk')
opt.options['tmlim'] = 5 #specifies the time limit (in seconds)
opt.options['mipgap'] = .00 #specifies the optimality gap tolerance (.01 means can stop if <1% of optimal obj)
results = opt.solve(model, tee=True) #can set tee=True if you want to see the details.

GLPSOL: GLPK LP/MIP Solver, v4.65
Parameter(s) specified in the command line:
 --tmlim 5 --mipgap 0.0 --write /tmp/tmpej4ie7m_.glpk.raw --wglp /tmp/tmpqktojk8s.glpk.glp
 --cpxlp /tmp/tmpcm3fqdy4.pyomo.lp
Reading problem data from '/tmp/tmpcm3fqdy4.pyomo.lp'...
/tmp/tmpcm3fqdy4.pyomo.lp:63114: warning: lower bound of variable 'x1' redefined
/tmp/tmpcm3fqdy4.pyomo.lp:63114: warning: upper bound of variable 'x1' redefined
1021 rows, 10011 columns, 30021 non-zeros
10010 integer variables, 10 of which are binary
63124 lines were read
Writing problem data to '/tmp/tmpqktojk8s.glpk.glp'...
62088 lines were written
GLPK Integer Optimizer, v4.65
1021 rows, 10011 columns, 30021 non-zeros
10010 integer variables, 10 of which are binary
Preprocessing...
1020 rows, 10010 columns, 30020 non-zeros
10010 integer variables, 10 of which are binary
Scaling...
 A: min|aij| =  1.000e+00  max|aij| =  1.200e+04  ratio =  1.200e+04
GM: min|aij| =  5.373e-01  max|aij| =  1.861e+00  ratio =  3.464e+00
EQ: min|aij| =  2.887e-01  max|aij| =  1.000e+00  ratio =  3.464e+00
2N: min|aij| =  2.441e-01  max|aij| =  1.000e+00  ratio =  4.096e+00
Constructing initial basis...
Size of triangular part is 1020
Solving LP relaxation...
GLPK Simplex Optimizer, v4.65
1020 rows, 10010 columns, 30020 non-zeros
      0: obj =   0.000000000e+00 inf =   7.001e+04 (1000)
   1025: obj =   4.908344898e+07 inf =   0.000e+00 (0)
*  2259: obj =   4.223838435e+07 inf =   0.000e+00 (0) 8
OPTIMAL LP SOLUTION FOUND
Integer optimization begins...
Long-step dual simplex will be used
+  2259: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 42253283
+  2330: mip =   4.225328300e+07 >=     tree is empty   0.0% (0; 19)
INTEGER OPTIMAL SOLUTION FOUND
Time used:   1.0 secs
Memory used: 11.0 Mb (11547004 bytes)
Writing MIP solution to '/tmp/tmpej4ie7m_.glpk.raw'...
11041 lines were written

In [ ]:
#
actual_supply = [[model.y[j,i]() for i in range(num_warehouses)] for j in range(num_orders)]

#print the minimum costs
Final_cost = model.Objective()
print('Minimum Costs (Manufacturing+Operations+Shipping):', Final_cost)

Minimum Costs (Manufacturing+Operations+Shipping): 42253283.0

In [ ]:
#fetch the operating warehouses for optimal solutions
[model.x[i]() for i in range(num_warehouses)]

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
#converting the DV (y) that maps optimal supply quantity from order to warehouse
warehouse_supply = pd.DataFrame(actual_supply, index = orders, columns = warehouses)
warehouse_supply

,PLANT01,PLANT02,PLANT03,PLANT04,PLANT05,PLANT06,PLANT07,PLANT08,PLANT09,PLANT10
1000001,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000002,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0
1000003,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000004,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1000996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0
1000997,0.0,0.0,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0
1000998,0.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000999,0.0,0.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0
1001000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0

In [ ]:
#Fetch the capacity of warehouses fulfilled given the optimal solution
import numpy as np
warehouse_percent_capacity_fulfilled = pd.DataFrame(pd.DataFrame(warehouse_supply.sum(), columns = ['actual_supply'])['actual_supply']/warehouse_data[['max_qty']].set_index(np.array(warehouses))['max_qty']*100, columns = ['per_capacity_fulfilled'])
warehouse_percent_capacity_fulfilled.reset_index(inplace=True)
warehouse_percent_capacity_fulfilled.rename(columns = {'index':'WID'})

       WID  per_capacity_fulfilled
0  PLANT01               62.333333
1  PLANT02               89.888889
2  PLANT03               66.285714
3  PLANT04               74.705882
4  PLANT05               68.666667
5  PLANT06               66.000000
6  PLANT07               77.578947
7  PLANT08               66.500000
8  PLANT09               68.636364
9  PLANT10               83.647059

In [ ]:
#saving the final results as csv
warehouse_supply.to_csv('final_units_supply_solution.csv', index = False)

In [ ]:
warehouse_percent_capacity_fulfilled.to_csv('warehouse_percent_capcity_fulfilled_soution.csv', index = False)

In [ ]:
#downloading the files
from google.colab import files
files.download('final_units_supply_solution.csv')

In [ ]:
from google.colab import files
files.download('warehouse_percent_capcity_fulfilled_soution.csv')